*.exe
*.exe~
*.dll
*.so
*.dylib
*.test

bin/
build/

*.log
*.lock
*.cache
*.tmp
*.out

vendor/
Godeps/

.vscode/
.idea/

.DS_Store
Thumbs.db

/go/
go.sum
go.work
go.work.sum

*.coverprofile
*.cover.out

.env
.envrc

*.prof

*.o
*.a

vet.out

/pkg/mod/
